# Build files
#-----------------------------------
debug
debug-firefox

# Node.js modules
#-----------------------------------
node_modules

# IDE and editor configs
#-----------------------------------
.idea
.vscode
